<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Flask Quiz</title>
    <!-- Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 text-gray-800 font-sans min-h-screen flex flex-col">

    <!-- NAVBAR IN ALTO -->
    <header class="bg-blue-600 text-white">
        <nav class="max-w-3xl mx-auto px-6 py-4 flex justify-between items-center">

            <!-- Menu centrale -->
            <div class="flex space-x-6 ">
                <a href="{{ url_for('weather.home') }}" class="hover:underline">Home</a>

                {% if current_user.is_authenticated %}
                <a href="{{ url_for('quiz.quiz') }}" class="hover:underline">Quiz</a>
                <a href="{{ url_for('quiz.leaderboard')}}" class="hover:underline">Leaderboard</a>
                <a href="{{ url_for('auth.logout') }}" class="hover:underline">Logout</a>
                {% else %}
                <a href="{{ url_for('auth.login') }}" class="hover:underline">Login</a>
                <a href="{{ url_for('auth.register') }}" class="hover:underline">Registrazione</a>
                {% endif %}
            </div>



        </nav>
    </header>


    <!-- CONTENUTO CENTRALE -->
    <main class="flex-1 flex justify-center items-start p-6">
        <div class="w-full max-w-3xl bg-white p-6 rounded-lg shadow">
            {% block content %}{% endblock %}
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="bg-gray-200 text-gray-700 p-4 text-center">
        <div class="ml-6">
            Sviluppato da <span class="font-bold">Federico Quintieri </span>-
            {% if current_user.is_authenticated %}
            <span>Utente loggato: </span>
            <span class="font-semibold">{{ current_user.nickname }}</span>
            {% endif %}
        </div>
    </footer>

</body>




</html>